<footer class="container-fluid p-5 bg-dark mt-5">
    <h3 class="text-center text-light">Sitio creado por GP</h3>
    <div> <!-- whatsapp -->   
        <a class="whatsapp" href="https://wa.me/+543515105416"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
</footer>