* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:slategray;
}


.dos {
  color: red;
}

.whatsapp {
  padding: 100px;
  margin: 100px;
  text-size-adjust: 100px;
  color: chartreuse;
}



